/*---------------------*/
/* THIRD PARTY IMPORTS */
/*---------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */


/*-----------*/
/* VARIABLES */
/*-----------*/
:root {
    --yellow: #FBDCA6;
    --primary: 'Open Sans Condensed', sans-serif;
    --secondary: 'PT Sans Narrow', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --blue: #5950FC;
}

/*----------------*/
/* BORDER BOX FIX */
/*----------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

/*---------------*/
/* MOBILE LAYOUT */
/*---------------*/
.page {
    background-image: url("weather-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
}
.page-results {
    grid-template-rows: 1fr auto;
}

.address-input input {
    font-size: 1.25rem;
    text-align: center;
    font-family: var(--raleway);
    border-radius: 15px;
}

.weather-card {
    background-color: rgba(0,0,0,.9);
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    grid-gap: 1rem;
    border-radius: 15px;
}
.weather-card h1 {
    font-size: 1.45rem;
    font-family: var(--primary);
    color: var(--yellow);
    justify-self: end;
    border-bottom: 2px solid rgba(255,255,255,.3);
    border-right: 2px solid rgba(255,255,255,.3);
    border-radius: 15px;
    max-width: 70%;
    margin-right: 1rem;
    padding-right: .20rem;
    text-align: right;
}
.weather-card h2 {
    font-size: 1.15rem;
    font-family: var(--secondary);
    font-weight: 400;
    color: lightgray;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(255,255,255,.3);
    border-left: 2px solid rgba(255,255,255,.3);
    justify-self: start;
    border-radius: 15px;
    margin-left: 1rem;
    padding-left: .20rem;
}
.weather-lookup {
    border-radius: 15px;
}

.weather-submit {
    padding: 0 1rem;
}

.lookup {
    align-self: center;
    justify-self: center;
    margin: 1rem 0;
}

.error {
    display: grid;
    justify-self: center;
    align-self: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
}

.error h1{
    text-transform: uppercase;
    padding: .75rem;
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 2rem;
    color: var(--yellow);
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/
@media (max-width:340px) {
    html {
        font-size: .85rem;
    }
}
@media (min-width:500px) {
    html {
        font-size: 1.25rem;
    }
}
@media (min-width:700px) {
    html {
        font-size: 1.45rem;
    }
}
@media (min-width:1600px) {
    html {
        font-size: 1.7rem;
    }
}