/*---------------------*/
/* THIRD PARTY IMPORTS */
/*---------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */


/*-----------*/
/* VARIABLES */
/*-----------*/
:root {
    --yellow: #FBDCA6;
    --primary: 'Open Sans Condensed', sans-serif;
    --secondary: 'PT Sans Narrow', sans-serif;
    --raleway: 'Raleway', sans-serif;
}

/*----------------*/
/* BORDER BOX FIX */
/*----------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* --------------------------- */
/* SITE-WIDE ELEMENTAL CHANGES */
/* --------------------------- */
html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
h1, p {
    margin: 0;
    padding: 0;
}

/*---------------*/
/* MOBILE LAYOUT */
/*---------------*/
.page {
    background-image: url("weather-bg_iqkogy_c_scale,w_300.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    height: 100vh;
    overflow: scroll;
}


.address-input {
    display: grid;
    justify-items: center;
}
.address-input input {
    width: 70vw;
    font-size: 1.25rem;
    text-align: center;
    font-family: var(--raleway);
    color: var(--yellow);
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
    background-color: rgba(0,0,0,.9);
    border: 0;
    padding: .3rem;
}
.address-input input:focus {
    width: 90vw;
}

.weather-card {
    background-color: rgba(0,0,0,.7);
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    grid-gap: .75rem;
    border-radius: 15px;
}
.weather-card:first-child {
    margin-top: .75rem;
}
p:nth-of-type(even) {
    font-size: 1.45rem;
    font-family: var(--primary);
    color: var(--yellow);
    justify-self: end;
    border-bottom: 2px solid rgba(255,255,255,.3);
    border-right: 2px solid rgba(255,255,255,.3);
    border-radius: 15px;
    max-width: 70%;
    margin-right: 1rem;
    padding-right: .20rem;
    text-align: right;
}
p:nth-of-type(odd) {
    font-size: 1.15rem;
    font-family: var(--secondary);
    font-weight: 400;
    color: lightgray;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(255,255,255,.3);
    border-left: 2px solid rgba(255,255,255,.3);
    justify-self: start;
    border-radius: 15px;
    margin-left: 1rem;
    padding-left: .20rem;
}
.weather-lookup {
    border-radius: 15px;
}
.weather-submit {
    padding: 0 1rem;
    margin: 1rem;
    font-family: var(--primary);
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
    color: var(--yellow);
    border: 0;
    background-color: rgba(0,0,0,.9);
}
.weather-submit:active {
    background-color: rgba(255,255,255,.9);
    color: black;
    transition-duration: 0;
}

.lookup {
    align-self: center;
    justify-self: center;
    width: 90%;
}
.lookup-results {
    margin: 2rem 1rem 1rem 1rem;
}

.error {
    display: grid;
    justify-self: center;
    align-self: center;
    background-color: rgba(0,0,0,.7);
    border-radius: 15px;
}
.error h1{
    text-transform: uppercase;
    padding: .75rem;
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 2rem;
    color: #c70700;
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/
@media (max-width:300px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_300.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_300.webp");
    }
}
@media (min-width:340px) {
    html {
        font-size: .85rem;
    }
}
@media (min-width:477px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_477.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_477.webp");
    }
}
@media (min-width:500px) {
    html {
        font-size: 1.25rem;
    }
    .address-input input {
        width: 60vw;
    }
}
@media (min-width:613px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_613.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_613.webp");
    }
}
@media (min-width:700px) {
    html {
        font-size: 1.45rem;
    }
    .address-input input {
        width: 50vw;
    }
    .address-input input:focus {
        width: 80vw;
    }
}
@media (min-width:728px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_728.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_728.webp");
    }
}
@media (min-width:845px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_845.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_845.webp");
    }
}
@media (min-width:936px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_936.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_936.webp");
    }
}
@media (min-width:1018px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1018.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1018.webp");
    }
}
@media (min-width:1092px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1092.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1092.webp");
    }
}
@media (min-width:1100px) {
    .address-input input {
        width: 45vw;
    }
    .address-input input:focus {
        width: 70vw;
    }
}
@media (min-width:1169px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1169.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1169.webp");
    }
}
@media (min-width:1236px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1236.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1236.webp");
    }
}
@media (min-width:1303px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1303.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1303.webp");
    }
}
@media (min-width:1365px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1365.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1365.webp");
    }
}
@media (min-width:1400px) {
    .address-input input {
        width: 35vw;
    }
    .address-input input:focus {
        width: 50vw;
    }
}
@media (min-width:1421px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1421.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1421.webp");
    }
}
@media (min-width:1470px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1470.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1470.webp");
    }
}
@media (min-width:1530px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1530.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1530.webp");
    }
}
@media (min-width:1584px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1584.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1584.webp");
    }
}

@media (min-width:1600px) {
    html {
        font-size: 1.7rem;
    }
    .address-input input {
        width: 25vw;
    }
    .address-input input:focus {
        width: 50vw;
    }
}
@media (min-width:1633px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1633.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1633.webp");
    }
}
@media (min-width:1683px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1683.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1683.webp");
    }
}
@media (min-width:1728px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1728.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1728.webp");
    }
}
@media (min-width:1773px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1773.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1773.webp");
    }
}
@media (min-width:1821px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1821.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1821.webp");
    }
}
@media (min-width:1866px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1866.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1866.webp");
    }
}
@media (min-width:1905px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1905.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1905.webp");
    }
}
@media (min-width:1945px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1945.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1945.webp");
    }
}
@media (min-width:1989px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_1989.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_1989.webp");
    }
}
@media (min-width:2026px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2026.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2026.webp");
    }
}
@media (min-width:2064px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2064.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2064.webp");
    }
}
@media (min-width:2100px) {
    .address-input input {
        width: 20vw;
    }
    .address-input input:focus {
        width: 40vw;
    }
}
@media (min-width:2104px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2104.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2104.webp");
    }
}
@media (min-width:2142px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2142.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2142.webp");
    }
}
@media (min-width:2178px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2178.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2178.webp");
    }
}
@media (min-width:2197px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2197.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2197.webp");
    }
}
@media (min-width:2200px) {
    .page {
        background-image: url("weather-bg_iqkogy_c_scale,w_2200.jpg");
        background-image: url("weather-bg_iqkogy_c_scale,w_2200.webp");
    }
}
@media (min-width:2500px) {
    .address-input input {
        width: 15vw;
    }
    .address-input input:focus {
        width: 30vw;
    }
}