<!doctype html>
<html lang="en">
  <head>
    {{> metas }}
    <title>Results</title>
  </head>
  <body>
    <div class="page page-results">
        <div class="weather-card">
            <p>You searched for: </p>
            <p>{{ formattedAddress }}</p>
            <p>The current temperature is: </p>
            <p>{{ temp }}&#8457;</p>
            <p>Today you can expect: </p>
            <p>{{ hourlySummary }}</p>
            <p>This week you can expect: </p>
            <p>{{ dailySummary }}</p>
            <div class="lookup lookup-results">
              <form class="address-input" action="/" method="POST">
                <input type="text" name="lookupAddress" placeholder="Enter an Address" autocomplete="no" autofocus="no">
                <button class="weather-submit" type="submit">Go</button>
              </form>  
            </div>
        </div>
    </div>
  </body>
</html>